doctype html
html
    head
        meta(charset='utf-8')
        title #{title} - Portal Matemático
        link(rel='shortcut icon', href='/favicon.png')
        link(rel='stylesheet', href='/css/main.css')

body
    .container
        block contenido